<div class="flex p-4 text-4xl font-semibold text-center bg-white shadow-md justify-evenly">
	<ul
		class="flex items-center p-4 space-x-6">
		<!-- Logo -->
		<li>
			<a href="/">
				<img src="{{asset('img/logo.png')}}" alt="logo" class="w-8 h-8 transition-transform duration-200 ease-in-out rounded-full hover:scale-95">
			</a>
		</li>

		<!-- Navigation Links -->
		<div class="flex space-x-4">
			<li>
				<a href="/" class="text-gray-600 transition-colors duration-200 hover:text-blue-500">Home</a>
			</li>
			<li>
				<a href="#" class="text-gray-600 transition-colors duration-200 hover:text-blue-500">Articles</a>
			</li>
			<li>
				<a href="#" class="text-gray-600 transition-colors duration-200 hover:text-blue-500">Inscription</a>
			</li>
		</div>
	</ul>
</div>
