{% extends 'base.html.twig' %}

{% block title %}HOMEPAGE
{% endblock %}

{% block body %}
	<h1 class="mb-6 text-4xl font-bold text-center text-gray-600 transition-colors duration-300 md:text-5xl hover:text-blue-500">
		Welcome to Mini Blog
	</h1>

	<div class="grid grid-cols-1 gap-4 w-90 md:grid-cols-2">

		{% for article  in articles %}
			<!-- Title -->
			<div class="relative flex flex-col p-4 mb-4 border rounded-md shadow-lg md:p-6">

				<div class="flex items-center justify-between">
					<h2 class="mt-2 text-xl font-bold text-gray-500 transition-colors duration-300 hover:text-blue-500">
						{{ article.title }}
					</h2>
					{% if article.isPremium %}
						<span class="px-2 py-1 text-xs font-semibold text-white bg-yellow-500 rounded">Premium</span>

					{% endif %}
				</div>
				<!-- Premium Badge -->

				<span class="text-xs text-gray-500">By:
					{{ article.author }}</span>


				<!-- Publication Date -->
				<div class="mt-4">
					<span class="text-sm text-gray-500">
						Published on:
						{{ article.publicationDate|date('F j, Y') }}
					</span>
				</div>

				<div class="flex justify-end mt-4">
					<a href="#" class="text-blue-500 hover:underline">Read more</a>
				</div>
			</div>
		{% endfor %}

	</div>

{% endblock %}
