<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}{% endblock %}- Mini Blog !
		</title>
		<link rel="icon" href="">
		{% block stylesheets %}
			<link rel="preconnect" href="https://fonts.googleapis.com">
			<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>


		{% endblock %}
		<link rel="icon" href="">

		{% block javascripts %}
			{% block importmap %}
				{{ importmap('app') }}

			{% endblock %}

		{% endblock %}
	</head>
	<body>
		{{include('components/partials/navbar.html.twig') }}

		{% block body %}{% endblock %}
		{% include('components/footer.html.twig') %}

	</body>
</html>
